// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 营销管理
    li.active 营销方案列表
// page heading end
// main content start
.main-content
  // body wrapper start
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 营销方案列表
          form.form-inline(role='form',name='vm.form', ng-submit='vm.search()', style='margin-top: 10px;')
            .row
              .col-md-10
                .col-md-12.no-padding
                  input.form-control(type='text', name='name', ng-model='vm.searchParams.name' placeholder='请输入方案名称')
                  input.form-control(type='text', name='name', ng-model='vm.searchParams.programno' placeholder='请输入属性名称')
                  select.form-control(ng-model='vm.searchParams.type', ng-options="item.value as item.label for item in vm.types", name='type')
                    option(value="") 选择类型
                  select.form-control(ng-model='vm.searchParams.status', ng-options="item.value as item.label for item in vm.status", name='status')
                    option(value="") 选择状态
                  quick-datepicker(
                            ng-model='vm.start',
                            date-filter='onlyWeekdays',
                            placeholder='开始时间',
                            ng-required='true',
                            date-format='yyyy-MM-dd',
                            on-change='vm.changeOpenTime(item)',
                            disable-timepicker='true',
                            time-format='HH:mm')
                  quick-datepicker(
                            ng-model='vm.end',
                            date-filter='onlyWeekdays',
                            placeholder='结束时间',
                            ng-required='true',
                            date-format='yyyy-MM-dd',
                            on-change='vm.changeOpenTime(item)',
                            disable-timepicker='true',
                            time-format='HH:mm')
              .col-md-2
                .col-md-6
                    button.btn.btn-primary(type='submit') 查询
                .col-md-6
                    a.btn.btn-primary(ui-sref='app.marketing.create()') 添加
        .panel-body
          table.table.table-hover.general-table
            thead
              tr
                th 编号
                th 名称
                td 类型
                th 状态
                th 开始时间
                th 结束时间
                th 发布到微信
                th 是否强制
                th 操作
            tbody
              tr(ng-repeat='item in vm.list')
                td {{item.programno}}
                td.center {{item.name}}
                td.center {{vm.typeFilter(item.type)}}
                td.center {{vm.statusFilter(item.status)}}
                td.center {{item.startdate}}
                td.center {{item.enddate}}
                td.center {{vm.wechatFilter(item.iswechat)}}
                td.center {{vm.forceFilter(item.must)}}
                td 
                    a.btn.btn-sm.btn-info(ui-sref='app.marketing.edit({id: item.id})') 编辑
      .row
        .pagination.pagination-sm.no-margin.pull-right(uib-pagination='', items-per-page='vm.pager.size', total-items='vm.pager.total', ng-model='vm.pager.page', max-size='vm.pager.max', boundary-links='true', rotate='false', num-pages='vm.pager.pageNumber', ng-change='vm.pageChanged()', first-text='首页', previous-text='前一页', next-text='后一页', last-text='末页')
  // body wrapper end
  footer
    | 2016 © 成都盈客网络科技有限公司
