// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 经销商管理
    li.active 添加经销商
.main-content
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 添加经销商
        .panel-body
          form(name='vm.dealerForm', ng-submit='vm.create()')
            .row
              .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.dealerno.$invalid && vm.dealerForm.dealerno.$dirty}")
                  label.col-md-3.col-sm-3.control-label(for='inputPassword1') 编号:
                  .col-md-9.col-sm-9.no-padding
                    input#inputPassword1.form-control(type='text',ng-model='vm.data.dealerno', name='dealerno' placeholder='编号')
              .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.name.$invalid && vm.dealerForm.name.$dirty}")
                  label.col-md-3.col-sm-3.control-label(for='inputPassword1') 名称:
                  .col-md-9.col-sm-9.no-padding
                    input#inputPassword1.form-control(type='text',ng-model='vm.data.name', name='name', placeholder='名称')
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.joindate.$invalid && vm.dealerForm.joindate.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='inputPassword1') 加盟时间:
                    .col-md-9.col-sm-9.no-padding.input-group
                        quick-datepicker(
                            ng-model='vm.joindate',
                            date-filter='onlyWeekdays',
                            placeholder='请选择',
                            ng-required='true',
                            date-format='yyyy-MM-dd',
                            on-change='vm.changeOpenTime(item)',
                            disable-timepicker='true',
                            time-format='HH:mm')
                        //- input#inputPassword1.form-control(type='text', readonly='readonly' name='joindate', uib-datepicker-popup="yyyy-MM-dd", ng-model='vm.data.joindate' is-open="vm.popup.opened" datepicker-options="dateOptions" ng-required="true",close-text="Close",alt-input-formats="altInputFormats", placeholder='加盟时间')
                        //- span.input-group-btn
                        //-     button.btn.btn-default(type='button', ng-click='vm.open()')
                        //-         i.glyphicon.glyphicon-calendar
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.legalperson.$invalid && vm.dealerForm.legalperson.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='inputPassword1') 法人:
                    .col-md-9.col-sm-9.no-padding
                        input#inputPassword1.form-control(type='text',ng-model='vm.data.legalperson', name='legalperson' placeholder='法人')
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.area.$invalid && vm.dealerForm.area.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='inputPassword1') 省份:
                    .col-md-9
                        div(choose-address='', ng-model='vm.location', ng-required='true')
            .row        
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.address.$invalid && vm.dealerForm.address.$dirty}")
                    label.control-label.col-md-3 详细地址:
                    .col-md-9.no-padding
                      input.form-control.dpd1(type='text', name='address', ng-model='vm.data.address', placeholder='详细地址')

            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.mobile.$invalid && vm.dealerForm.mobile.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='inputPassword1') 手机号:
                    .col-md-9.col-sm-9.no-padding
                      input#inputPassword1.form-control(type='text', numeric='', min='1', max-byte-length='11', ng-model='vm.data.mobile', name='mobile', placeholder='手机号')
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.phone.$invalid && vm.dealerForm.phone.$dirty}")
                    label.control-label.col-md-3.col-sm-3 座机号:
                    .col-md-9.col-sm-9.no-padding
                      input#inputPassword1.form-control(type='text',ng-model='vm.data.phone',name='phone', placeholder='座机号')
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.manager_id.$invalid && vm.dealerForm.manager_id.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='inputPassword1') 负责人:
                    .col-md-9.col-sm-9.no-padding
                      select#inputPassword1.form-control(ng-model='vm.data.manager_id',ng-required='true', name='manager_id', ng-options='item.id as item.name for item in vm.responser')
                        option(value='') 请选择
                .form-group.col-md-6(ng-class="{'has-error' : vm.dealerForm.dealerlevel_id.$invalid && vm.dealerForm.dealerlevel_id.$dirty}")
                    label.control-label.col-md-3.col-sm-3 等级:
                    .col-md-9.col-sm-9.no-padding
                      select#inputPassword1.form-control(ng-model='vm.data.dealerlevel_id', name='dealerlevel_id', ng-options='item.id as item.name for item in vm.level', ng-required='true')
                        option(value='') 请选择
              section.panel
                .panel-heading
                  a.btn.btn-primary(ng-click='vm.addStore()') 添加门店
                .panel-body
                  table.table.table-hover.general-table.table-content
                    thead
                      tr
                        th 编号
                        th 名称
                        th 面积
                        th 电话
                        th 装修状态
                        th 地址
                        th 送货地址
                        th 操作
                    tbody
                      tr(ng-repeat='item in vm.data.store')
                        td {{item.storeno}}
                        td {{item.name}}
                        td {{item.acreage}}
                        td {{item.mobile}}
                        td {{vm.filterStatus(item.status)}}
                        td {{item.address}}
                        td {{item.sendaddress}}
                        td 
                            a.btn.btn-sm.btn-primary(ng-click='vm.editStore($index)') 编辑
                            a.btn.btn-sm.btn-danger(ng-click='vm.removeStore($index)') 删除
                    
            .row        
                .form-group.col-md-12
                    .col-md-6
                        button.btn.btn-primary(type='submit') 提交
                .form-group.col-md-12(ng-class="{'has-error': vm.error}", ng-show='vm.error')    
                    .col-md-6
                        .error-msg(ng-show='vm.error') {{vm.error}}
                
  footer
    | 2016 © 成都盈客网络科技有限公司
